## MATLAB
*.asv
*.m~
*.mldatx

## LaTeX
*.aux
*.fls
*.toc
*.synctex.gz
*.fdb_latexmk
*.log
*.out

## Environments
*.DS_Store
*.vscode
*.vs

## Logging specific to individual users
logs/

## Development folders
dev/
deprecated/
.ipynb_checkpoints/

# Documentation (work in progress)
docs/doxygen/
Doxyfile.txt

## Testing folders and files
test/coverage_report/
test/single_report/

test/test.h5
test/CommonApiTest.h5
test/ExperimentTest.h5
test/ToyExperiment.h5
test/EntityRenameTest.h5
test/EntityDeletionTest.h5
test/FileReaderTest.h5
test/HdfTest.h5
test/SmallExperiment.h5
test/SmallExperiment2.h5
test/ShellExperiment.h5

test/Test.json
test/TestDevice.json

test/ToyExperiment.mat

test/DeviceSubclass.m
test/MyDevice.m

test/BaseCoverage.xlsx
test/~$BaseCoverage.xlsx
test/PackageCoverage.txt

## Tutorial files
tutorials/Tutorial_JustTheExperiment.h5
tutorials/Tutorial_WithSystem.h5
tutorials/+templates/
tutorials/AODataWalkthrough.docx
tutorials/Development.mlx
docs/BestPractices.md
docs/CoreClassDiagram.pdf