## MATLAB
*.asv
*.m~
*.mldatx

## LaTeX
*.aux
*.fls 
*.toc
*.synctex.gz
*.fdb_latexmk
*.log
*.out

## Dev
*.DS_Store
*.vscode

## Development folders
dev/
deprecated/
.ipynb_checkpoints/

## Testing folders and files
test/coverage_report/
test/single_report/

test/test.h5
test/ExperimentTest.h5
test/ToyExperiment.h5
test/HdfTest.h5

test/BaseCoverage.xlsx
test/~$BaseCoverage.xlsx