[submodule "lib/appbox"]
	path = lib/appbox
	url = https://github.com/cafarm/appbox

[submodule "lib/h5tools-matlab"]
	path = lib/h5tools-matlab
	url = https://github.com/sarastokes/h5tools-matlab
	
[submodule "lib/doxymatlab"]
	path = lib/doxymatlab
	url = https://github.com/simgunz/doxymatlab.git
[submodule "lib/superbar"]
	path = lib/superbar
	url = https://github.com/scottclowe/superbar.git
[submodule "lib/weblab"]
	path = lib/weblab
	url = https://github.com/lordtumnus/weblab
[submodule "lib/sparklinesComponent"]
	path = lib/sparklinesComponent
	url = https://github.com/MATLAB-Graphics-and-App-Building/sparklinesComponent
[submodule "lib/advanced-logger"]
	path = lib/advanced-logger
	url = https://github.com/mathworks/advanced-logger.git
[submodule "lib/jsonlab"]
	path = lib/jsonlab
	url = https://github.com/fangq/jsonlab.git
[submodule "lib/yaml"]
	path = lib/yaml
	url = https://github.com/MartinKoch123/yaml.git
